.player
    width: 100%
    display: flex
    align-items: center
    background-color: rgb(107, 107, 107)
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px
    span
        font-size: 17px
        margin-left: 1rem
        color: white
    img
        width: 2rem
        height: 2rem
        object-fit: cover
        border-radius: 50% 

.playerActive
    background-color: rgb(204, 82, 0)
    transform: scale(1.2)
    animation: 1s ease infinite pulse

    
@keyframes pulse 
  0% 
    transform: scale(1.2)
  
  25% 
    transform: scale(1.315)
  
  
  50% 
    transform: scale(1.2)

@media only screen and (max-width: 700px)
        .player
          border-top-right-radius: 50px
          border-bottom-right-radius: 50px

  
