<h1 mat-dialog-title>{{'dialog.game.title' | translate}}</h1>
<div mat-dialog-content>
  <p>{{'dialog.game.content.enter' | translate}}</p>
  <mat-form-field>
    <mat-label>{{'dialog.game.field.name' | translate}}</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'dialog.game.cancel' | translate}}</button>
  <button mat-button [disabled]="name.length == 0 || name.length > 15" [mat-dialog-close]="name" cdkFocusInitial>{{'dialog.game.confirm' | translate}}</button>
</div>
