<div class="startscreen">
    <div class="title">
        <h1 class="title1">Ring</h1>
        <h1 class="title2">of</h1>
        <h1 class="title3">Fire</h1>
    </div>
    <div class="description">
        <h2>{{'startscreen.welcome1' | translate}} <br> {{'startscreen.welcome2' | translate}} <br> {{'startscreen.welcome3' | translate}}</h2>
    </div>
    <img src="assets/img/startscreen.jpg" alt="">
    <div (click)="openLobby()" id="startBtn">
        <div>
            <h3>{{'startscreen.startbtn' | translate}}</h3>
        </div>
    </div>
    <mat-radio-group class="languageContainer" [(ngModel)]="selected" aria-label="Select an option">
        <mat-radio-button class="langRadio" (click)="useLanguage('de')" [value]="1">{{'startscreen.lang.de' | translate}}</mat-radio-button>
        <mat-radio-button class="langRadio" (click)="useLanguage('en')" [value]="2">{{'startscreen.lang.en' | translate}}</mat-radio-button>
      </mat-radio-group>
</div>
