<div class="startscreen">
    <div class="title">
        <h1 class="title1">Ring</h1>
        <h1 class="title2">of</h1>
        <h1 class="title3">Fire</h1>
    </div>
    <div class="description">
        <h2>Ring of Fire is a public drinking game. <br> Play with your friends. <br> Enjoy the game and have fun. xD</h2>
    </div>
    <img src="assets/img/startscreen.jpg" alt="">
    <div (click)="newGame()" id="startBtn">
        <div>
            <h3>Start Game</h3>
        </div>
    </div>
</div>
